body{
    background-color: rgb(40, 40, 40);
}

h3{
    color:white;
}

#colorpicker{
    cursor: pointer;
    background-color: white;
    color:white;
    width:30px;
    padding:0;
    border-width: 0;
    border-image: 0;
}



#sideNav{
    position: relative;
    background-color: blue;
    width:270px;
    height:550px;
    left:00px;

}

#layout{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transform: rotate(180deg)
}




#box{
    background-color: blue;
    width:350px;
    position: absolute;
    top:200px;
    display: none;
}


#bildeKnappId1{
    width:360px;
    height:160px;
    z-index:3;
    top:425px;
    left:425px;
    position: absolute;
    cursor: pointer;
    background-color: red;
}


#bildeKnappId2{
    width:360px;
    height:150px;
    z-index:3;
    top:270px;
    left:425px;
    position: absolute;
    cursor: pointer;
    background-color: blue;
}

#bildeKnappId3{
    width:250px;
    height:150px;
    z-index:3;
    top:270px;
    left:790px;
    position: absolute;
    cursor: pointer;
    background-color: green;
}

#bildeKnappId4{
    width:250px;
    height:150px;
    z-index:3;
    top:425px;
    left:790px;
    position: absolute;
    cursor: pointer;
    background-color: yellow;
}