body{
    background-color: rgb(40, 40, 40);
}

h3{
    color:white;
}


#colorpicker{
    cursor: pointer;
    background-color: white;
    color:white;
    width:30px;
    padding:0;
    border-width: 0;
    border-image: 0;
}






















#sideNav{
    position: relative;
    background-color: blue;
    width:270px;
    height:550px;
    left:00px;

}



